<section class="menu" >
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m.PNG">
            <div class="card-img-overlay">
              <h4>10.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m1.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m1.PNG">
            <div class="card-img-overlay">
              <h4>9.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m2.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m2.PNG">
            <div class="card-img-overlay">
              <h4>8.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m3.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m3.PNG">
            <div class="card-img-overlay">
              <h4>4.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m4.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m4.PNG">
            <div class="card-img-overlay">
              <h4>5.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m5.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m5.PNG">
            <div class="card-img-overlay">
              <h4>12.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m6.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m6.PNG">
            <div class="card-img-overlay">
              <h4>20.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m7.PNG.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m7.PNG">
            <div class="card-img-overlay">
              <h4>30.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m8.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m8.PNG">
            <div class="card-img-overlay">
              <h4>2.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h10.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m10.PNG">
            <div class="card-img-overlay">
              <h4>6.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m11.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m11.PNG">
            <div class="card-img-overlay">
              <h4>2.500,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imgmenu/m13.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imgmenu/m13.PNG">
            <div class="card-img-overlay">
              <h4>9.000,00Ar</h4>
              <p>Chicken Burger</p>
            </div>
          </a>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="carousel-control-prev prev" appPrev>
          <i class="carousel-control-prev-icon"></i>
          Prev
        </button>
        <button type="button" class="carousel-control-next next" appNext>
          <i class="carousel-control-next-icon"></i>
          Next
        </button>
      </div>
    </div>
  </div>
</section>


