<section class="chambre" >
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h1.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h1.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h2.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h2.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h3.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h3.PNG">
            <div class="card-img-overlay">
              <h4>200.000,00Ar</h4>
              <p>5 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h4.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h4.PNG">
            <div class="card-img-overlay">
              <h4>50.000,00Ar/nuit</h4>
              <p>1 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h5.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h5.PNG">
            <div class="card-img-overlay">
              <h4>50.000,00Ar/nuit</h4>
              <p>1 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h6.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h6.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h7.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h7.PNG">
            <div class="card-img-overlay">
              <h4>100.000,00Ar/nuit</h4>
              <p>2 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h8.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h8.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h9.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h9.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h10.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h10.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h11.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h11.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
        <div class="item">
          <a class="lightbox" href="assets/imghotel/h12.PNG">
            <img class="img-thumbnail img-fluid image" src="assets/imghotel/h12.PNG">
            <div class="card-img-overlay">
              <h4>250.000,00Ar/nuit</h4>
              <p>6 pers</p>
            </div>
          </a>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="carousel-control-prev prev" appPrev>
          <i class="carousel-control-prev-icon"></i>
          Prev
        </button>
        <button type="button" class="carousel-control-next next" appNext>
          <i class="carousel-control-next-icon"></i>
          Next
        </button>
      </div>
    </div>
  </div>
</section>
