<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div class="carousel-inner">

    <div class="cc-carousel-item carousel-item text-center bg-cover  slide-1">

      <div class="container  d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-md-6">
            <div class="carousel-caption text-start">
              <h1 class="display-3 animated animate__slideInLeft">Bienvenue à Ny SOAHOTEL Ambositra!</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-outline-warning-brand" href="#">Reserver</a></p>
            </div>
          </div>
          <div class="col-md-6 section-bg">
            <img style="margin-top: 100px" src="assets/images/grillade.PNG">
          </div>
        </div>

      </div>
    </div>
    <div class="cc-carousel-item carousel-item text-center bg-cover   active slide-2">

      <div class="container  d-flex align-items-center justify-content-center">

        <div class="row">
          <div class="col-md-6">
            <div class="carousel-caption text-start">
              <h1 class="display-3 animated animate__slideInLeft">Restaurant Multi-Saveurs <br>A votre Goût Dans La Ville D'Ambositra</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-outline-warning-brand" href="#">Commander maintenant</a></p>
            </div>
          </div>
          <div class="col-md-6 section-bg burger">
            <div class="img" style="padding-top: 234px;">
              <img  src="assets/images/burger.PNG">
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="cc-carousel-item carousel-item text-center bg-cover  slide-3">

      <div class="container  d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-md-6 section-bg align-items-center justify-content-center">
            <img class="w-100" style="margin-top: 130px" src="assets/images/grillade3.PNG">
          </div>
          <div class="col-md-6">
            <div class="carousel-caption text-end">
              <h1>Ny SOASERVICE AUTO</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
              <p><a class="btn btn-outline-warning-brand" href="#">Visiter</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
