<!--carousel coponent-->
<app-carousel></app-carousel>
<!--sliderchambre coponent-->
<app-sliderchambre></app-sliderchambre>
<!--about coponent-->
<app-about></app-about>
<!--service coponent-->
<app-service></app-service>
<!--service coponent-->
<app-slidermenu></app-slidermenu>
<!--listchambre coponent-->
<app-listchambres></app-listchambres>
<!--lstemenu coponent-->
<app-listmenus></app-listmenus>
<!--teams coponent-->
<app-teams></app-teams>
<!--teamtestimonials coponent-->
<app-testimonial></app-testimonial>


