<main class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="container marge-panier">
      <div class="block-heading">
        <h2 class="text-info">Shopping Cart</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
      </div>
      <div class="content">
        <div class="row g-0">
          <div class="col-md-12 col-lg-8">
            <div class="items">

              <div class="card" *ngIf="cart.length==0">
                <div class="card-header"><span class="text-info">Info</span> </div>
                <div class="card-body">
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Votre panier est vide! <a (click)="navgateByUrl()" class="btn btn-outline-info">faire une réservation</a>. Appuier sur le bouton pour remplier votre fiche!.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
              </div>

              <div class="product" *ngFor="let c of cart">
                <div class="row justify-content-center align-items-center" *ngIf="cart">
                  <div class="col-md-2">
                    <div class="product-image">
                      <img  class="show-photo" style="height: 130px" src="{{chambreService.host+'/photoChambre/'+c.chambre!.id+'?ts='+getTs()}}">
                    </div>
                  </div>
                  <div class="col-md-3 product-info"><span class="product-name text-primary">N° {{c.chambre!.numeroChambre}}</span>
                    <div class="product-specs">
                      <div>
                        <span class="text-info">Détails:&nbsp;</span>
                        <p class="value">{{c.chambre!.detailChambre}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 quantity">
                    <label class="form-label d-none d-md-block" for="quantiter">Nombre nuité</label>
                    <div class="">
                      <div class="">
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                          <input type="text" [value]="c.start" style="width: 72px;font-size: 12px;" readonly>
                          <button (click)="deleteMenu(c)" type="button" class="btn btn-secondary">-</button>
                          <input id="quantiter" style="width: 33px;" class="form-control quantity-input" [value]="c.number" disabled>
                          <button (click)="addCart2(c)" type="button" class="btn btn-secondary">+</button>
                          <input type="text" [value]="c.end" style="width: 72px;font-size: 12px;" readonly>
                        </div>

                      </div>
                    </div>
                    <strong class="text-danger">Effacer</strong>
                  </div>
                  <div class="col-md-2 price"><h5><span>{{c.total!*(1-(c.discout!/100))*c.number! | number:'0.00'}}&nbsp;Ar</span></h5></div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <h4 class="cc-h4"><span class="text">Subtotal</span><span class="price">{{cartService2!.cartData2.cost | number:'0.00'}}&nbsp;Ar</span></h4>
              <h4><span class="text">Discount</span><span class="price">0 Ar</span></h4>
              <h4><span class="text">Shipping</span><span class="price">0 Ar</span></h4>
              <h4><span class="text">Total</span><span class="price">{{cartService2!.cartData2.cost | number:'0.00'}}&nbsp;Ar</span></h4>
              <button [disabled]="cart.length==0" class="btn btn-primary btn-lg d-block w-100" type="button" (click)="creatReservation(cart)">
                <i class="fa  fa-money"></i>
                Réservée maintenant
              </button>
              <button type="button" (click)="clearCart()" class="btn btn-danger btn-lg d-block w-100"><i class="fa  fa-trash"></i> Vider le panier</button>
              <a *ngIf="!tokenService.getToken()" class="text-primary" routerLink="/auth" >connectez-vous pour réservée les chambres!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>



