<!--<main class="page">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="card text-center clean-card">
            <img class="card-img-top w-100 d-block" src="assets/images/avatar1.jpg" />
            <div class="card-body info">
              <h4 class="card-title">John Smith</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card text-center clean-card">
            <img class="card-img-top w-100 d-block" src="assets/images/avatar2.jpg" />
            <div class="card-body info">
              <h4 class="card-title">Robert Downturn</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card text-center clean-card">
            <img class="card-img-top w-100 d-block" src="assets/images/avatar3.jpg" />
            <div class="card-body info">
              <h4 class="card-title">Ally Sanders</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>-->

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h5 class="section-title ff-secondary text-center text-warning fw-normal">Testimonial</h5>
      <h1 class="mb-5">Our clients Say!!!</h1>
    </div>

    <div class="owl-carousel owl-item testimonial-carousel">

      <div class="testimonial-item bg-transparent border rounded ps-4">
        <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center">
          <img style="width: 50px; height: 50px" src="assets/images/chef2.PNG" alt="" class="img-fluid flex-shrink-0 rounded-circle">
          <div class="ps-3">
            <h5 class="mb-1">Clinet Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-transparent border rounded ps-4">
        <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center">
          <img style="width: 50px; height: 50px" src="assets/images/chef2.PNG" alt="" class="img-fluid flex-shrink-0 rounded-circle">
          <div class="ps-3">
            <h5 class="mb-1">Clinet Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-transparent border rounded ps-4">
        <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center">
          <img style="width: 50px; height: 50px" src="assets/images/chef2.PNG" alt="" class="img-fluid flex-shrink-0 rounded-circle">
          <div class="ps-3">
            <h5 class="mb-1">Clinet Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-transparent border rounded ps-4">
        <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center">
          <img style="width: 50px; height: 50px" src="assets/images/chef2.PNG" alt="" class="img-fluid flex-shrink-0 rounded-circle">
          <div class="ps-3">
            <h5 class="mb-1">Clinet Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-transparent border rounded ps-4">
        <i class="fa fa-quote-left fa-2x text-warning mb-3"></i>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex align-items-center">
          <img style="width: 50px; height: 50px" src="assets/images/chef2.PNG" alt="" class="img-fluid flex-shrink-0 rounded-circle">
          <div class="ps-3">
            <h5 class="mb-1">Clinet Name</h5>
            <small>Profession</small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

