<div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-warning fw-normal">Teams Members</h5>
      <h1 class="mb-5">Our Master Chefs</h1>
    </div>
    <div class="row g-4">

      <div class="col-lg-3 col-md-6 wow fadeInUp"data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden mb-4">
            <img src="assets/images/chef1.PNG" alt="" class="img-fluid">
          </div>
          <h5 class="mb-0">Full name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a href="" class="btn btn-square btn-warning mx1">
              <svg class="bi me-1" width="16" height="16">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-tiktok"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp"data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden mb-4">
            <img src="assets/images/chef2.PNG" alt="" class="img-fluid">
          </div>
          <h5 class="mb-0">Full name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-tiktok"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp"data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden mb-4">
            <img src="assets/images/chef3.PNG" alt="" class="img-fluid">
          </div>
          <h5 class="mb-0">Full name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-tiktok"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp"data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden mb-4">
            <img src="assets/images/chef%204.PNG" alt="" class="img-fluid">
          </div>
          <h5 class="mb-0">Full name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-tiktok"></i>
            </a>
            <a href="" class="btn btn-square btn-warning mx1">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
