.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  background: deepskyblue;
}
.box div{
  position: absolute;
  bottom: -100px;
  background: #f2f2f2;
  opacity: .6;
  animation: animate 15s infinite ease;
}
.box div:nth-child(1){
  width: 75px;
  height: 75px;
  left: 7%;
  animation-delay: 1s;
}
.box div:nth-child(2){
  width: 80px;
  height: 80px;
  left: 20%;
  animation-delay: 5s;
}
.box div:nth-child(3){
  width: 62px;
  height: 62px;
  left: 40%;
  animation-delay: 9s;
}
.box div:nth-child(4){
  width: 80px;
  height: 80px;
  left: 20%;
  animation-delay: 5s;
}
.box div:nth-child(5){
  width: 60px;
  height: 60px;
  left: 27%;
  animation-delay: 10s;
}
.box div:nth-child(6){
  width: 55px;
  height: 55px;
  left: 65%;
  animation-delay: 5s;
}
.box div:nth-child(7){
  width: 70px;
  height: 70px;
  left: 80%;
  animation-delay: 9s;
}
.box div:nth-child(8){
  width: 48px;
  height: 48px;
  left: 5%;
  animation-delay: 9s;
}
.box div:nth-child(9){
  width: 90px;
  height: 90px;
  left: 75%;
  animation-delay: 3s;
}
.box div:nth-child(10){
  width: 60px;
  height: 60px;
  left: 35%;
  animation-delay: 7s;
}
@keyframes animate {
  0%{
    bottom: -100px;
    transform: translateX(0);
  }
  50%{
    transform: translateX(150px);
  }
  100%{
    bottom: 1000px;
    transform: translateX(-300px);
  }
}
/*+++++++++++++++++++++++++++++*/
.text-center {
  text-align: center !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.error:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.error:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-black-50 {
  --bs-text-opacity: 1;
  color: rgba(0,0,0,.5) !important;
}































