<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-clone text-warning mb-4"></i>
            <h5 class="">Quality Food</h5>
            <p>Lorem, ipsum dolor sit amet conectetur adipisicing elit. Repellat, veritatis.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-wifi text-warning mb-4"></i>
            <h5 class="">Conecton Haut-débit</h5>
            <p>Nous disposons une connexion de très haut-débit par la fibre-optique de Telma.</p>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-users text-warning mb-4"></i>
            <h5 class="">Master chefs</h5>
            <p>Lorem, ipsum dolor sit amet conectetur adipisicing elit. Repellat, veritatis.</p>
          </div>
        </div>
      </div>-->
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-warning mb-4"></i>
            <h5 class="">Online Order</h5>
            <p>Lorem, ipsum dolor sit amet conectetur adipisicing elit. Repellat, veritatis.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-server text-warning mb-4"></i>
            <h5 class="">24/7 service</h5>
            <p>Lorem, ipsum dolor sit amet conectetur adipisicing elit. Repellat, veritatis.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--+++++++++++++++++about service------------------------->

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">

          <div class="col-6 text-start">
            <img src="assets/imghotel/h4.PNG" style="width: 300px;height: 170px" alt="" data-wow-delay="0.1s" class="img-fluid rounded w-100 wow bi-zoom-in">
          </div>

          <div class="col-6 text-start">
            <img src="assets/imghotel/h5.PNG" style="width: 224px;height: 125px" alt="" data-wow-delay="0.3s"  class="img-fluid rounded w-75 wow bi-zoom-in" style="margin-top: 25%">
          </div>

          <div class="col-6 text-end">
            <img src="assets/imghotel/h10.PNG" style="width: 224px;height: 125px" alt="" data-wow-delay="0.5s"  class="img-fluid rounded w-75 wow bi-zoom-in">
          </div>

          <div class="col-6 text-end">
            <img src="assets/imghotel/h11.PNG" style="width: 300px;height: 170px" alt="" data-wow-delay="0.7s"  class="img-fluid rounded w-100 wow bi-zoom-in">
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="section-title ff-secondary text-start text-warning fw-normal">About us</h5>
        <h1 class="mb-4">Welcome to <i class="fa fa-untensils text-primary me-2"></i>Hôtel</h1>
        <p class="mb-4">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
        <p class="mb-4">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
        <div class="row g-4 mb-4">

          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-warning px-3">
              <h1 class="flex-shrink-0 display-5 text-warning mb-0" data-toggle="counter-up">15</h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experiences</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center border-start border-5 border-warning px-3">
              <h1 class="flex-shrink-0 display-5 text-warning mb-0" data-toggle="counter-up">50</h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Master chefs</h6>
              </div>
            </div>
          </div>

        </div>
        <a href="" class="btn btn-outline-warning-brand mt-2">Voire d'autre</a>
      </div>
    </div>
  </div>
</div>
