<div class="wrapper">
  <div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>

  <div class="container py-md-5" style="position: relative">
    <div class="row">
      <div class="col-md-6 text-center"><img class="img-fluid w-100" src="assets/icons/registre.PNG" /></div>
      <div class="col-md-5 col-xl-4 text-center text-md-start">
        <h2 class="display-6 fw-bold mb-5"><span class="underline  pb-1"><strong>Sign up</strong></span></h2>
        <form [formGroup]="formRegistre" (ngSubmit)="onRegistry()">
          <div class="mb-3">
            <input [ngClass]="formRegistre.controls['numerotelephone'].errors?'is-invalid':'is-valid'" class="shadow-sm form-control" type="number" formControlName="numerotelephone" placeholder="Téléphone" required/>
            <span *ngIf="formRegistre.controls['numerotelephone'].errors
                  && formRegistre.controls['numerotelephone'].touched
                  " class="text-danger">
                {{getErrorMessage('Numero Téléphone',formRegistre.controls['numerotelephone'].errors)}}
            </span>
          </div>
          <div class="mb-3">
            <input [ngClass]="formRegistre.controls['email'].errors?'is-invalid':'is-valid'" class="shadow-sm form-control" type="email" formControlName="email" placeholder="email" />
            <span *ngIf="formRegistre.controls['email'].errors
                && formRegistre.controls['email'].touched
                  " class="text-danger">
                  {{getErrorMessage('Email',formRegistre.controls['email'].errors)}}
          </span>
          </div>

          <div class="mb-3">
            <input [ngClass]="formRegistre.controls['username'].errors?'is-invalid':'is-valid'" class="shadow-sm form-control" type="text" formControlName="username" placeholder="Nom d'utilisateur" />
            <span *ngIf="formRegistre.controls['username'].errors
                  && formRegistre.controls['username'].touched
                  " class="text-danger">
                  {{getErrorMessage('Username',formRegistre.controls['username'].errors)}}
          </span>
          </div>

          <div class="mb-3">
            <input [ngClass]="formRegistre.controls['password'].errors?'is-invalid':'is-valid'" class="shadow-sm form-control" type="password" formControlName="password" placeholder="Password" />
            <span *ngIf="formRegistre.controls['password'].errors
                  && formRegistre.controls['password'].touched
                  " class="text-danger">
                 {{getErrorMessage('Password',formRegistre.controls['password'].errors)}}
          </span>
          </div>

          <div class="mb-3">
            <input [ngClass]="formRegistre.controls['repassword'].errors?'is-invalid':'is-valid'" class="shadow-sm form-control" type="password" formControlName="repassword" placeholder="Repeat Password" />
            <span *ngIf="formRegistre.controls['repassword'].errors
                   && formRegistre.controls['repassword'].touched
                  " class="text-danger">
                  {{getErrorMessage('Repeate password',formRegistre.controls['repassword'].errors)}}
             </span>
          </div>

          <span *ngIf="errormessage" class="text-danger">
              {{errormessage}}
          </span>
          <div class="mb-5">
            <button class="btn btn-primary shadow" type="submit" [disabled]="formRegistre.invalid">Create account</button>
          </div>
          <p class="text-muted">Have an account? <a [routerLink]="[('/auth')]">Log in <svg class="icon icon-tabler icon-tabler-arrow-narrow-right" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <line x1="15" y1="16" x2="19" y2="12"></line>
            <line x1="15" y1="8" x2="19" y2="12"></line>
          </svg></a></p>
        </form>
      </div>
    </div>
  </div>

