<div id="wrapper" style="padding-top: 81px;">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fa fa-database"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
    </a>
      <hr class="sidebar-divider my-0" />
      <ul id="accordionSidebar" class="navbar-nav text-light">
        <li class="nav-item" *ngFor="let m of menus,let i=index">
          <a (click)="getCurrentMenu(i)" [ngClass]="currentSideMenu==i?'nav-link active':'nav-link'" routerLink="{{m.url}}">
            <i [ngClass]="m.icon"></i>
            <span>{{m.name}}</span>
          </a>
        </li>
      </ul>
      <div class="text-center d-none d-md-inline"><button id="sidebarToggle" class="btn rounded-circle border-0" type="button"></button></div>
    </div>
  </nav>

  <div id="content-wrapper" class="container d-flex flex-column">
    <div id="content">
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Save Soile Ambositra 2023, email:randrianasolomananarivo@gmail.com</span></div>
      </div>
    </footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" (click)="onScrolToTop()"><i class="fa fa-angle-up"></i></a>
</div>
